*{
   border: none;
   outline: none;
   margin: 0;
   padding: 0;
}


.input{
   margin-left: 10px;
}

.label{
   color: rgb(7, 122, 7);
   font-size: 18px;
}

.item{
   color:rgb(7, 61, 7);
   background-color:rgb(217, 236, 217);
}
.item:focus{
   background-color: rgb(151, 240, 151)!important;
   width: 220px!important;
}

.wrap{
   background-color:rgb(238, 248, 238)!important;
   color: rgb(238, 248, 238)!important;
   margin-top: 5px;
}

.wrap1{
   background-color:rgb(238, 248, 238)!important;
   color:rgb(7, 61, 7)!important;
   font-weight: 500;   
}


.wrap2{
   background-color:rgb(238, 248, 238)!important;
}
.wrap3{
   background-color:rgb(238, 248, 238)!important;
}